In [24]:
import pandas as pd
import glob

In [26]:
files = glob.glob("data/*.csv")

#for f in files:
 #   csv = pd.read_csv(f)
data = pd.read_csv("data/_BZ_2023-02-28_13h59.53.781.csv")

In [7]:
data

,consent_item,slide_text,instruction,triangle_pos,arrow_posy,arrow_posx,scale,label,item_type,item_no,...,mouse_2.clicked_name,total_duration,participant,session,study_id,date,expName,psychopyVersion,frameRate,Unnamed: 119
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2023-02-28_13h59.53.781,BZ,2022.2.4,163.357853,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2023-02-28_13h59.53.781,BZ,2022.2.4,163.357853,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2023-02-28_13h59.53.781,BZ,2022.2.4,163.357853,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2023-02-28_13h59.53.781,BZ,2022.2.4,163.357853,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2023-02-28_13h59.53.781,BZ,2022.2.4,163.357853,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2023-02-28_13h59.53.781,BZ,2022.2.4,163.357853,NaN
74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2023-02-28_13h59.53.781,BZ,2022.2.4,163.357853,NaN
75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2023-02-28_13h59.53.781,BZ,2022.2.4,163.357853,NaN
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,continue_box,NaN,NaN,NaN,NaN,2023-02-28_13h59.53.781,BZ,2022.2.4,163.357853,NaN
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,66.644712,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
responses_q1 = data[["question", "item_no", "file_path", "slider.response"]]

In [21]:
responses_q1

   question  item_no file_path  slider.response
0       NaN      NaN       NaN              NaN
1       NaN      NaN       NaN              NaN
2       NaN      NaN       NaN              NaN
3       NaN      NaN       NaN              NaN
4       NaN      NaN       NaN              NaN
..      ...      ...       ...              ...
73      NaN      NaN       NaN              NaN
74      NaN      NaN       NaN              NaN
75      NaN      NaN       NaN              NaN
76      NaN      NaN       NaN              NaN
77      NaN      NaN       NaN              NaN

[78 rows x 4 columns]

In [22]:
responses_q2 = data[["question2", "file_path2", "slider_2.response"]]

In [23]:
responses_q2

,question2,file_path2,slider_2.response
0,NaN,NaN,NaN
1,NaN,NaN,NaN
2,NaN,NaN,NaN
3,NaN,NaN,NaN
4,NaN,NaN,NaN
...,...,...,...
73,How appropriate are the colours of the graph?,map_generator/charts/1br.png,1.718056
74,How appropriate are the colours of the graph?,map_generator/charts/1bg.png,1.718056
75,NaN,NaN,NaN
76,NaN,NaN,NaN
77,NaN,NaN,NaN